In [6]:
import tensorflow as tf
import yfinance as yf
from transformers import pipeline
from collections import Counter
import numpy as np

In [2]:
import yfinance as yf

nifty50_tickers = ["TCS.NS", "RELIANCE.NS", "INFY.NS", "HDFCBANK.NS"]

data = yf.download(nifty50_tickers, start="2020-01-01", end="2025-02-17", interval="1d")

data.to_csv("nifty50_stock_data.csv")
print(data.columns)

[*********************100%%**********************]  4 of 4 completed
MultiIndex([('Adj Close', 'HDFCBANK.NS'),
            ('Adj Close',     'INFY.NS'),
            ('Adj Close', 'RELIANCE.NS'),
            ('Adj Close',      'TCS.NS'),
            (    'Close', 'HDFCBANK.NS'),
            (    'Close',     'INFY.NS'),
            (    'Close', 'RELIANCE.NS'),
            (    'Close',      'TCS.NS'),
            (     'High', 'HDFCBANK.NS'),
            (     'High',     'INFY.NS'),
            (     'High', 'RELIANCE.NS'),
            (     'High',      'TCS.NS'),
            (      'Low', 'HDFCBANK.NS'),
            (      'Low',     'INFY.NS'),
            (      'Low', 'RELIANCE.NS'),
            (      'Low',      'TCS.NS'),
            (     'Open', 'HDFCBANK.NS'),
            (     'Open',     'INFY.NS'),
            (     'Open', 'RELIANCE.NS'),
            (     'Open',      'TCS.NS'),
            (   'Volume', 'HDFCBANK.NS'),
            (   'Volume',     'INFY.NS'),
            (   'Volume', 'RELIANCE.NS'),
            (   'Volume',      'TCS.NS')],
           )

In [3]:
data.tail()

              Adj Close                                               Close  \
            HDFCBANK.NS      INFY.NS  RELIANCE.NS       TCS.NS  HDFCBANK.NS
Date
2025-02-10  1715.750000  1880.300049  1253.650024  4036.949951  1715.750000
2025-02-11  1701.400024  1875.650024  1234.849976  3963.550049  1701.400024
2025-02-12  1706.800049  1863.150024  1216.550049  3950.149902  1706.800049
2025-02-13  1697.699951  1843.250000  1216.099976  3910.149902  1697.699951
2025-02-14  1694.849976  1856.400024  1217.250000  3934.850098  1694.849976

                                                          High               \
                INFY.NS  RELIANCE.NS       TCS.NS  HDFCBANK.NS      INFY.NS
Date
2025-02-10  1880.300049  1253.650024  4036.949951  1723.449951  1905.000000
2025-02-11  1875.650024  1234.849976  3963.550049  1711.000000  1903.000000
2025-02-12  1863.150024  1216.550049  3950.149902  1712.000000  1894.599976
2025-02-13  1843.250000  1216.099976  3910.149902  1714.250000  1873.500000
2025-02-14  1856.400024  1217.250000  3934.850098  1701.900024  1859.300049

            ...          Low                      Open               \
            ...  RELIANCE.NS       TCS.NS  HDFCBANK.NS      INFY.NS
Date        ...
2025-02-10  ...  1245.550049  4014.350098  1717.300049  1905.000000
2025-02-11  ...  1230.099976  3955.000000  1703.000000  1883.099976
2025-02-12  ...  1193.349976  3940.149902  1693.000000  1885.000000
2025-02-13  ...  1212.000000  3902.250000  1699.000000  1868.500000
2025-02-14  ...  1205.449951  3900.000000  1701.900024  1854.000000

                                          Volume
            RELIANCE.NS       TCS.NS HDFCBANK.NS  INFY.NS RELIANCE.NS   TCS.NS
Date
2025-02-10  1264.500000  4040.000000   8597975.0  3828734     6970972  1339511
2025-02-11  1264.550049  4018.399902  11362352.0  4411601     8859714  1810908
2025-02-12  1219.449951  3971.100098  11404785.0  5633947    21131654  1678002
2025-02-13  1217.050049  3968.000000   6301217.0  5237744     8511216  2277310
2025-02-14  1219.000000  3925.000000   9979946.0  5292961    10298145  1681975

[5 rows x 24 columns]

In [4]:
import requests

def fetch_news(stock_name):
    api_key = "ad879839b920406d9651285fc34616e7"
    url = f"https://newsapi.org/v2/everything?q={stock_name}&language=en&sortBy=publishedAt&apiKey={api_key}"
    
    response = requests.get(url)
    data = response.json()
    
    articles = data.get("articles", [])
    headlines = [article["title"] + " " + article["description"] for article in articles]
    
    return headlines


stock_name = "Cochin Shipyard"
news_headlines = fetch_news(stock_name)
print(news_headlines)

['Bears on the prowl: Over 1,000 stocks crash at least 30% from peaks. Is your portfolio safe? Over 1,000 stocks on Dalal Street have dropped at least 30% from their 52-week peaks, signaling a potential bear market. Key factors include FII outflows, tariffs, slowing growth, and high valuations. Experts advise reviewing portfolios, diversifying assets, …', 'Cochin Shipyard, Hero Moto, ITC shares record date for dividend tomorrow Shares of Cochin Shipyard, Hero Motocorp, and ITC are in the spotlight as today is the last date to buy them to qualify for the respective dividends. The ex-date for these dividends is set for February 12, making today crucial for eligibility.', 'Global vs domestic mutual funds: What’s your top pick? International mutual funds have outperformed domestic equity mutual funds in the current year, driven by shifts of Foreign Institutional Investors (FIIs) to markets like China and the US. Experts suggest investors remain focused on the Indian equity market, w…', 'Kandla aims to build 50 ships a year Deendayal Port Authority in Gujarat seeks private shipbuilders to develop a shipbuilding cluster in Kutch district.', 'Q3 results this week: HAL, Vi, RVNL, Nykaa, Varun Beverages among 108 companies to announce earnings Q3 results this week: This week, 108 companies will announce their Q3 FY25 earnings, including major names like Eicher Motors, Nykaa, Hindalco, and IRCTC. Key earnings dates range from February 10 to February 14, with prominent companies in various sectors su…', "MCX revises trading hours from March 10 due to US daylight saving time The Multi Commodity Exchange (MCX) revised its trading hours, effective March 10, 2025, due to changes in U.S. daylight saving time. This follows SEBI's directive under Circular No. SEBI/HO/CDMRD/DMP/CIR/P/2018/146 and MCX's earlier circular from September 20…", 'Modi-Trump meet, Q3 earnings among 8 factors that could impact D-Street trade this week Modi trump meet: Markets will watch for any comments from US President Trump on the economy and geopolitics, as Prime Minister Modi visits the USA next week for talks with Trump and US officials, potentially impacting stocks. Additionally, investors may favor…', 'ITC among 39 stocks nearing ex-dates for dividends, bonus, splits next week. Do you own any? Stocks like ITC and Cochin Shipyard will be noteworthy next week as they near record dates for corporate actions such as dividends, bonus shares, and stock splits. Shareholders need to hold shares in their demat accounts by the record date to qualify for thes…', 'Quant Small Cap Mutual Fund sold Mazagon Dock, pared stake in Cochin Shipyard and HUDCO before Budget Quant Small Cap Fund exited Mazagon Dock and reduced stakes in Cochin Shipyard and HUDCO. The fund increased exposure in Aster DM Healthcare, Juniper Hotels, and other stocks, while adding new stocks Equinox India Developments and Alivus Life Sciences. Assets…', 'Gainers & Losers: Bharti Hexacom, NCC among top market movers on Friday Indian markets closed lower as RBI’s rate cut hit financial stocks. Metal stocks surged, while Bharti Hexacom, Trent, and Bharti Airtel gained on strong earnings. NCC, Sonata Software, and Cochin Shipyard shares declined on weak results.', 'Cochin Shipyard shares crack 7% after reporting 27% YoY decline in Q3 PAT Cochin Shipyard shares fell 7% after reporting a 27% YoY decline in Q3 net profit to Rs 177 crore. EBITDA dropped 23% to Rs 237 crore, while revenue rose 9%. The company announced a Rs 3.5 interim dividend. Shares have dropped nearly 10% YTD despite a strong …', "Cochin Shipyard Q3 Results: PAT falls 27% YoY to Rs 177 cr; Rs 3.5 per share dividend declared Cochin Shipyard Q3 Results: Cochin Shipyard's Q3 net profit declined 27% YoY to ₹177 crore, despite a 9% rise in revenue. EBITDA dropped 23%, with margins contracting to 20.7%. The company declared a ₹3.5 per share interim dividend, payable by March 7.", 'Deendayal Port partners with Cochin Shipyard to establish ₹1,750 crore ship-repair hub in Gujarat DPA will invest ₹700 crore in the construction of an outfitting jetty and civil works, while CSL will construct two floating docks for ₹1,050 crore.', 'Sensex, Nifty eye gains as FIIs unwind shorts; key results on watch Domestic markets set to open higher on global cues, strong F&O unwinding, and positive election sentiment. Nifty expected to gain.', 'Share Market Highlights 6 February 2025: Markets extend losses ahead of RBI rate decision; Sensex falls 213 pts to close at 78,058, Nifty ends at 23,603 Sensex, Nifty updates on 6 February 2025: Benchmark indices Sensex and Nifty slid for the second consecutive day on Thursday amid caution ahead of the RBI’s monetary policy decision and fresh foreign fund outflows. The 30-share BSE Sensex dropped 213.12 point…', 'Nestle India, Cochin Shipyard among top 10 stocks that LIC bought in Q3 LIC’s share by value in NSE-listed companies decreased to 3.51% in Q3 FY25, down from 3.59% in Q1 FY25, according to data from primeinfobase.com, an initiative of the PRIME Database Group. However, during Q3 FY25, LIC adjusted its portfolio with significant a…', 'India Wants Another Aircraft Carrier Instead of having three aircraft carriers in service, the new vessel will replace the aging INS Vikramaditya. India is expected to use the cost savings to aid in developing its submarine program.\nThe post India Wants Another Aircraft Carrier appeared first on…', 'Shipbuilding financial assistance policy 2.0 to have ₹18,000 cr outlay, awaiting Cabinet nod: Sonowal The SBFAP 2.0, is “currently awaiting Cabinet approval”, and will be financed “in its entirety through budgetary support”.', 'Budget 2025: PSU stocks tumble up to 9% on Budget Day, marking the sharpest decline since 2020 PSU stocks dropped over 9% on Budget Day, with the BSE PSU index falling 2.7%. Investors were disappointed by a lower-than-expected capital expenditure allocation of Rs 11.2 lakh crore. Key sectors like defense, railway, and power saw declines, with defense P…', 'Less ammo deflates charged-up Defence stocks Defence stocks plummet after budget disappoints investors with lower capital expenditure, impacting major players like HAL and Bharat Electronics.', 'Flat capex dampens sentiment on infrastructure and allied stocks FY25-26 capex announcement disappoints investors with flat growth, signaling shift from capex to consumption focus by government.', 'Budget Impact: Footwear, Tourism, and Aviation stocks rally while Infrastructure sees mixed response Union Budget 2025 boosts footwear, tourism, and aviation stocks, while infrastructure and textile sectors face challenges.', 'Budget 2025 stocks: Shipping Corporation, Mazagon Dock jump up to 6% after FM announces sector revamp The government unveiled a major overhaul of its financial assistance policy, launching a Rs 25,000 crore Maritime Development Fund. It will contribute 49% to the fund, aiming to boost India’s shipbuilding sector’s competitiveness and capacity. This initiative…', "Stocks in news today: Defense stocks in focus ahead of Budget 2025 Defense stocks rallied 3-5% ahead of the Union Budget 2025, driven by expectations of increased allocations. The Modi government's push for self-reliance and 'Make in India' is expected to benefit key players like HAL, BEL, and BDL. Policy incentives, R&D inv…", "Budget 2025 stocks to buy: Over 100 scrips across 12 themes could benefit from FY26 financial plan. Here's how Top brokerages suggest investment themes for Budget 2025, highlighting sectors like infrastructure, defense, and railways poised for significant growth. Analysts expect increased capex allocation and fiscal deficit targets, alongside potential boosts for fina…", 'Share Market Highlights 1 February 2025: Sensex, Nifty see muted reaction as Budget 2025 prioritises consumption over capex Sensex, Nifty updates on 1 February 2025: Indian benchmark indices, Sensex and Nifty, saw minimal movement on Saturday following the government’s budget announcement, with the Nifty 50 declining 0.11% to 23,482.15 points and the BSE Sensex closing 0.01% highe…', 'Budget 2025: RVNL, ICICI Bank, Tata Motors among top 75 stocks to buy from brokerages Brokerages expect a capex-driven budget prioritizing infrastructure, defense, railways, and financials while maintaining fiscal discipline. Key stock picks include L&T, HAL, BEL, SBI, and Maruti Suzuki. Sectors like renewable energy, real estate, auto, and BF…', "CSL lays keel of seventh Anti-Submarine craft for Indian Navy The Cochin Shipyard Ltd has laid the keel for the seventh Anti-Submarine Warfare Shallow Water Craft for the Indian Navy. The Mahe-class ships, set to replace the Abhay-class ASW Corvettes, will enhance India's coastal defense capabilities. The first ship is …", 'Keel for 7th Anti-Submarine Warfare ship laid at Cochin Shipyard Defence Ministry and Cochin Shipyard signed contract for building ASW SWC ships with advanced technology for Indian Navy.', 'Keel for 7th Anti-Submarine Warfare ship laid at Cochin Shipyard Defence Ministry and Cochin Shipyard signed contract for building ASW SWC ships with advanced technology for Indian Navy.', 'KEEL LAYING OF SEVENTH SHIP (BY 529, MACHILIPATNAM) OF ASW SWC PROJECT AT CSL, KOCHI Keel Laying of the seventh ship (BY 529, Machilipatnam) of the Anti-Submarine Warfare Shallow Water Craft (ASW SWC) project was undertaken on 29 Jan 25 in the presence of RAdm Upal Kundu, Chief of Staff, Southern Naval Command', 'Is bear market here? Sensex masking pain as 4 out of 5 stocks down at least 20% from peak Even though the Sensex is only down 12% from its 52-week high, over 80% of BSE 500 stocks are in a bear market, with some eroding up to 65% of their value. Investors are cautious ahead of key events, but long-term opportunities remain as market volatility may…', 'Capex stocks drop up to 43% from the last budget. Can government spending infuse animal spirit? As India approaches Budget 2025, expectations are high for a focus on capital expenditure to drive economic recovery. Analysts highlight sectors like power, renewable energy, and defence for growth, recommending stocks such as Hitachi Energy, Siemens, and L&T…']

In [5]:
sentiment_pipeline = pipeline("text-classification", model="ProsusAI/finbert")

def get_sentiment_scores(news_list):
    scores = [sentiment_pipeline(news) for news in news_list]
    return scores

sentiment_scores = get_sentiment_scores(news_headlines)
print(sentiment_scores)

c:\a\envs\env2\lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\aashutosh kumar\.cache\huggingface\hub\models--ProsusAI--finbert. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

[[{'label': 'negative', 'score': 0.9643874764442444}], [{'label': 'neutral', 'score': 0.9316685795783997}], [{'label': 'positive', 'score': 0.5673838257789612}], [{'label': 'positive', 'score': 0.7629152536392212}], [{'label': 'neutral', 'score': 0.9346480369567871}], [{'label': 'neutral', 'score': 0.8421849608421326}], [{'label': 'negative', 'score': 0.5586294531822205}], [{'label': 'neutral', 'score': 0.9407637715339661}], [{'label': 'positive', 'score': 0.52093106508255}], [{'label': 'negative', 'score': 0.9702807664871216}], [{'label': 'negative', 'score': 0.9752031564712524}], [{'label': 'negative', 'score': 0.9755972027778625}], [{'label': 'positive', 'score': 0.6624003052711487}], [{'label': 'positive', 'score': 0.9471021890640259}], [{'label': 'negative', 'score': 0.9735608100891113}], [{'label': 'negative', 'score': 0.9687581062316895}], [{'label': 'neutral', 'score': 0.5386561751365662}], [{'label': 'neutral', 'score': 0.8376960754394531}], [{'label': 'negative', 'score': 0.9757630825042725}], [{'label': 'negative', 'score': 0.9686726331710815}], [{'label': 'negative', 'score': 0.9580367207527161}], [{'label': 'positive', 'score': 0.8300926089286804}], [{'label': 'positive', 'score': 0.9378266334533691}], [{'label': 'positive', 'score': 0.9501710534095764}], [{'label': 'positive', 'score': 0.9231604933738708}], [{'label': 'negative', 'score': 0.9704163670539856}], [{'label': 'neutral', 'score': 0.6664556264877319}], [{'label': 'positive', 'score': 0.7755693197250366}], [{'label': 'positive', 'score': 0.9141824841499329}], [{'label': 'positive', 'score': 0.9141824841499329}], [{'label': 'neutral', 'score': 0.8985607028007507}], [{'label': 'negative', 'score': 0.9668052792549133}], [{'label': 'negative', 'score': 0.956973671913147}]]

In [7]:
flat_labels = [item[0] for item in sentiment_scores]

sentiment_counts = Counter([entry['label'] for entry in flat_labels])

sentiment_scores = {}
for sentiment in ['positive', 'neutral', 'negative']:
    scores = [entry['score'] for entry in flat_labels if entry['label'] == sentiment]
    sentiment_scores[sentiment] = np.mean(scores) if scores else 0

overall_sentiment = max(sentiment_counts, key=sentiment_counts.get)

print("Sentiment Counts:", sentiment_counts)
print("Average Confidence Scores:", sentiment_scores)
print("Overall Sentiment:", overall_sentiment)

Sentiment Counts: Counter({'negative': 13, 'positive': 12, 'neutral': 8})
Average Confidence Scores: {'positive': 0.8088264763355255, 'neutral': 0.8238292410969734, 'negative': 0.9371603635641245}
Overall Sentiment: negative

In [16]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta

nifty50_tickers = ["TCS.NS", "RELIANCE.NS", "INFY.NS", "HDFCBANK.NS"]

# Download stock data
data = yf.download(nifty50_tickers, start="2020-01-01", end="2025-02-17", interval="1d")

# Create an empty dataframe to store the indicators for each ticker
stock_data = pd.DataFrame()

# Loop through each ticker to compute the indicators
for ticker in nifty50_tickers:
    # Get close prices for the ticker
    temp_data = data["Close"][ticker]
    
    # Ensure the 'Close' column is numeric, and drop any rows with missing values
    temp_data = pd.to_numeric(temp_data, errors='coerce')
    temp_data.dropna(inplace=True)

    # Ensure the 'Close' data is numeric and clean for further calculations
    if temp_data.empty:
        continue  # Skip this ticker if there is no data

    # Calculate RSI, MACD, and Bollinger Bands for each ticker
    temp_data['RSI'] = ta.rsi(temp_data, length=14)
    temp_data['MACD'], temp_data['MACD_signal'], temp_data['MACD_hist'] = ta.macd(temp_data, fast=12, slow=26, signal=9)
    temp_data['BB_upper'], temp_data['BB_middle'], temp_data['BB_lower'] = ta.bbands(temp_data, length=20, std=2)
    
    # Add the computed columns to the main stock_data dataframe
    stock_data[ticker] = temp_data

# Drop rows with NaN values
stock_data.dropna(inplace=True)

# Print the first few rows to check
print(stock_data.head())

[*********************100%%**********************]  4 of 4 completed

DataError: No numeric types to aggregate

In [17]:
data = pd.read_csv(r"C:\Projects\Indian-Stock-Predictor\exp\nifty50_stock_data.csv")
data.head(5)

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Close,Close.1,Close.2,Close.3,High,...,Low.2,Low.3,Open,Open.1,Open.2,Open.3,Volume,Volume.1,Volume.2,Volume.3
0,NaN,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS,...,RELIANCE.NS,TCS.NS,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1227.4285888671875,655.6152954101562,671.07421875,1975.3426513671875,1278.5999755859375,736.8499755859375,690.1383056640625,2167.60009765625,1280.0,...,688.2639770507812,2154.0,1276.0999755859375,735.0,693.978515625,2168.0,1836849.0,2112415,14004468,1354908
3,2020-01-02,1235.25244140625,653.702392578125,682.4988403320312,1966.275390625,1286.75,734.7000122070312,701.8875122070312,2157.64990234375,1288.0,...,691.2355346679688,2149.199951171875,1279.0,738.9000244140625,691.2355346679688,2179.949951171875,3068583.0,5658200,17710316,2380752
4,2020-01-03,1217.6368408203125,663.756591796875,683.3212890625,2005.4613037109375,1268.4000244140625,746.0,702.7332763671875,2200.64990234375,1285.0,...,696.2643432617188,2164.0,1282.199951171875,733.9000244140625,700.8359985351562,2164.0,5427775.0,7882938,20984698,4655761

In [21]:
import pandas as pd
import pandas_ta as ta

# Load data
data = pd.read_csv(r"C:\Projects\Indian-Stock-Predictor\exp\nifty50_stock_data.csv")

# Print the first few rows to check the structure
print(data.head(5))

# Rename columns for clarity (using the first 4 'Close' columns for different tickers)
data.rename(columns={
    'Close': 'HDFCBANK.NS',
    'Close.1': 'INFY.NS',
    'Close.2': 'RELIANCE.NS',
    'Close.3': 'TCS.NS'
}, inplace=True)

# Extract the relevant columns (the 'Close' prices for each ticker)
tickers = ['HDFCBANK.NS', 'INFY.NS', 'RELIANCE.NS', 'TCS.NS']
stock_data = data[['Date'] + tickers]

# Ensure the 'Close' columns are numeric and drop any rows with missing values
for ticker in tickers:
    stock_data[ticker] = pd.to_numeric(stock_data[ticker], errors='coerce')

# Drop rows with any missing values
stock_data.dropna(inplace=True)

# Calculate RSI, MACD, and Bollinger Bands for each ticker
for ticker in tickers:
    temp_data = stock_data[['Date', ticker]]
    temp_data['RSI'] = ta.rsi(temp_data[ticker], length=14)
    temp_data['MACD'], temp_data['MACD_signal'], temp_data['MACD_hist'] = ta.macd(temp_data[ticker], fast=12, slow=26, signal=9)
    temp_data['BB_upper'], temp_data['BB_middle'], temp_data['BB_lower'] = ta.bbands(temp_data[ticker], length=20, std=2)
    
    # Add the computed columns to the main stock_data dataframe
    stock_data[f'{ticker}_RSI'] = temp_data['RSI']
    stock_data[f'{ticker}_MACD'] = temp_data['MACD']
    stock_data[f'{ticker}_MACD_signal'] = temp_data['MACD_signal']
    stock_data[f'{ticker}_MACD_hist'] = temp_data['MACD_hist']
    stock_data[f'{ticker}_BB_upper'] = temp_data['BB_upper']
    stock_data[f'{ticker}_BB_middle'] = temp_data['BB_middle']
    stock_data[f'{ticker}_BB_lower'] = temp_data['BB_lower']

# Drop rows with NaN values that may appear after indicator calculation
stock_data.dropna(inplace=True)

# Print the updated dataframe with indicators
print(stock_data.head(5))

   Unnamed: 0           Adj Close        Adj Close.1        Adj Close.2  \
0         NaN         HDFCBANK.NS            INFY.NS        RELIANCE.NS
1        Date                 NaN                NaN                NaN
2  2020-01-01  1227.4285888671875  655.6152954101562       671.07421875
3  2020-01-02    1235.25244140625   653.702392578125  682.4988403320312
4  2020-01-03  1217.6368408203125   663.756591796875     683.3212890625

          Adj Close.3               Close            Close.1  \
0              TCS.NS         HDFCBANK.NS            INFY.NS
1                 NaN                 NaN                NaN
2  1975.3426513671875  1278.5999755859375  736.8499755859375
3      1966.275390625             1286.75  734.7000122070312
4  2005.4613037109375  1268.4000244140625              746.0

             Close.2           Close.3         High  ...              Low.2  \
0        RELIANCE.NS            TCS.NS  HDFCBANK.NS  ...        RELIANCE.NS
1                NaN               NaN          NaN  ...                NaN
2  690.1383056640625  2167.60009765625       1280.0  ...  688.2639770507812
3  701.8875122070312  2157.64990234375       1288.0  ...  691.2355346679688
4  702.7332763671875  2200.64990234375       1285.0  ...  696.2643432617188

               Low.3                Open             Open.1  \
0             TCS.NS         HDFCBANK.NS            INFY.NS
1                NaN                 NaN                NaN
2             2154.0  1276.0999755859375              735.0
3  2149.199951171875              1279.0  738.9000244140625
4             2164.0   1282.199951171875  733.9000244140625

              Open.2             Open.3       Volume Volume.1     Volume.2  \
0        RELIANCE.NS             TCS.NS  HDFCBANK.NS  INFY.NS  RELIANCE.NS
1                NaN                NaN          NaN      NaN          NaN
2      693.978515625             2168.0    1836849.0  2112415     14004468
3  691.2355346679688  2179.949951171875    3068583.0  5658200     17710316
4  700.8359985351562             2164.0    5427775.0  7882938     20984698

  Volume.3
0   TCS.NS
1      NaN
2  1354908
3  2380752
4  4655761

[5 rows x 25 columns]

KeyError: "['Date'] not in index"

In [22]:
import pandas as pd
import pandas_ta as ta

# Load data, skipping the first two rows and setting the correct column names
data = pd.read_csv(r"C:\Projects\Indian-Stock-Predictor\exp\nifty50_stock_data.csv", skiprows=2)

# Rename the 'Unnamed: 0' column to 'Date' for clarity
data.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)

# Extract the relevant columns (the 'Close' prices for each ticker)
tickers = ['HDFCBANK.NS', 'INFY.NS', 'RELIANCE.NS', 'TCS.NS']
stock_data = data[['Date'] + tickers]

# Ensure the 'Close' columns are numeric and drop any rows with missing values
for ticker in tickers:
    stock_data[ticker] = pd.to_numeric(stock_data[ticker], errors='coerce')

# Drop rows with any missing values
stock_data.dropna(inplace=True)

# Calculate RSI, MACD, and Bollinger Bands for each ticker
for ticker in tickers:
    temp_data = stock_data[['Date', ticker]]
    temp_data['RSI'] = ta.rsi(temp_data[ticker], length=14)
    temp_data['MACD'], temp_data['MACD_signal'], temp_data['MACD_hist'] = ta.macd(temp_data[ticker], fast=12, slow=26, signal=9)
    temp_data['BB_upper'], temp_data['BB_middle'], temp_data['BB_lower'] = ta.bbands(temp_data[ticker], length=20, std=2)
    
    # Add the computed columns to the main stock_data dataframe
    stock_data[f'{ticker}_RSI'] = temp_data['RSI']
    stock_data[f'{ticker}_MACD'] = temp_data['MACD']
    stock_data[f'{ticker}_MACD_signal'] = temp_data['MACD_signal']
    stock_data[f'{ticker}_MACD_hist'] = temp_data['MACD_hist']
    stock_data[f'{ticker}_BB_upper'] = temp_data['BB_upper']
    stock_data[f'{ticker}_BB_middle'] = temp_data['BB_middle']
    stock_data[f'{ticker}_BB_lower'] = temp_data['BB_lower']

# Drop rows with NaN values that may appear after indicator calculation
stock_data.dropna(inplace=True)

# Print the updated dataframe with indicators
print(stock_data.head(5))

KeyError: "['HDFCBANK.NS', 'INFY.NS', 'RELIANCE.NS', 'TCS.NS'] not in index"

In [31]:
data = pd.read_csv(r"C:\Projects\Indian-Stock-Predictor\exp\nifty50_stock_data.csv")
data

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Close,Close.1,Close.2,Close.3,High,...,Low.2,Low.3,Open,Open.1,Open.2,Open.3,Volume,Volume.1,Volume.2,Volume.3
0,NaN,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS,...,RELIANCE.NS,TCS.NS,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1227.4285888671875,655.6152954101562,671.07421875,1975.3426513671875,1278.5999755859375,736.8499755859375,690.1383056640625,2167.60009765625,1280.0,...,688.2639770507812,2154.0,1276.0999755859375,735.0,693.978515625,2168.0,1836849.0,2112415,14004468,1354908
3,2020-01-02,1235.25244140625,653.702392578125,682.4988403320312,1966.275390625,1286.75,734.7000122070312,701.8875122070312,2157.64990234375,1288.0,...,691.2355346679688,2149.199951171875,1279.0,738.9000244140625,691.2355346679688,2179.949951171875,3068583.0,5658200,17710316,2380752
4,2020-01-03,1217.6368408203125,663.756591796875,683.3212890625,2005.4613037109375,1268.4000244140625,746.0,702.7332763671875,2200.64990234375,1285.0,...,696.2643432617188,2164.0,1282.199951171875,733.9000244140625,700.8359985351562,2164.0,5427775.0,7882938,20984698,4655761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,2025-02-10,1715.75,1880.300048828125,1253.6500244140625,4036.949951171875,1715.75,1880.300048828125,1253.6500244140625,4036.949951171875,1723.449951171875,...,1245.550048828125,4014.35009765625,1717.300048828125,1905.0,1264.5,4040.0,8597975.0,3828734,6970972,1339511
1270,2025-02-11,1701.4000244140625,1875.6500244140625,1234.8499755859375,3963.550048828125,1701.4000244140625,1875.6500244140625,1234.8499755859375,3963.550048828125,1711.0,...,1230.0999755859375,3955.0,1703.0,1883.0999755859375,1264.550048828125,4018.39990234375,11362352.0,4411601,8859714,1810908
1271,2025-02-12,1706.800048828125,1863.1500244140625,1216.550048828125,3950.14990234375,1706.800048828125,1863.1500244140625,1216.550048828125,3950.14990234375,1712.0,...,1193.3499755859375,3940.14990234375,1693.0,1885.0,1219.449951171875,3971.10009765625,11404785.0,5633947,21131654,1678002
1272,2025-02-13,1697.699951171875,1843.25,1216.0999755859375,3910.14990234375,1697.699951171875,1843.25,1216.0999755859375,3910.14990234375,1714.25,...,1212.0,3902.25,1699.0,1868.5,1217.050048828125,3968.0,6301217.0,5237744,8511216,2277310
1273,2025-02-14,1694.8499755859375,1856.4000244140625,1217.25,3934.85009765625,1694.8499755859375,1856.4000244140625,1217.25,3934.85009765625,1701.9000244140625,...,1205.449951171875,3900.0,1701.9000244140625,1854.0,1219.0,3925.0,9979946.0,5292961,10298145,1681975

In [45]:
import pandas as pd

# Load data and use the second row as the header
data_nf = pd.read_csv(r"C:\Projects\Indian-Stock-Predictor\exp\nifty50_stock_data.csv", header=1)

# Remove any unnamed columns that are irrelevant
data_nf = data_nf.loc[:, ~data_nf.columns.str.contains('^Unnamed')]

data.drop(index=0, inplace=True)
# Print the cleaned data to verify the results
data.head()

,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS.1,INFY.NS.1,RELIANCE.NS.1,TCS.NS.1,HDFCBANK.NS.2,INFY.NS.2,...,RELIANCE.NS.3,TCS.NS.3,HDFCBANK.NS.4,INFY.NS.4,RELIANCE.NS.4,TCS.NS.4,HDFCBANK.NS.5,INFY.NS.5,RELIANCE.NS.5,TCS.NS.5
1,1227.428589,655.615295,671.074219,1975.342651,1278.599976,736.849976,690.138306,2167.600098,1280.000000,740.000000,...,688.263977,2154.000000,1276.099976,735.000000,693.978516,2168.000000,1836849.0,2112415.0,14004468.0,1354908.0
2,1235.252441,653.702393,682.498840,1966.275391,1286.750000,734.700012,701.887512,2157.649902,1288.000000,740.799988,...,691.235535,2149.199951,1279.000000,738.900024,691.235535,2179.949951,3068583.0,5658200.0,17710316.0,2380752.0
3,1217.636841,663.756592,683.321289,2005.461304,1268.400024,746.000000,702.733276,2200.649902,1285.000000,748.000000,...,696.264343,2164.000000,1282.199951,733.900024,700.835999,2164.000000,5427775.0,7882938.0,20984698.0,4655761.0
4,1191.285522,657.394897,667.473511,2005.279297,1240.949951,738.849976,686.435303,2200.449951,1261.800049,753.799988,...,684.835205,2187.899902,1260.000000,746.099976,694.892883,2205.000000,5445093.0,6519403.0,24519177.0,3023209.0
5,1210.149048,647.651978,677.742310,2010.200195,1260.599976,727.900024,696.995850,2205.850098,1271.449951,742.599976,...,691.921265,2183.800049,1258.900024,738.000000,694.435669,2200.500000,7362247.0,7899363.0,16683622.0,2429317.0

In [46]:
import pandas as pd

# Load data, skipping the first row and using the second row for the header
data = pd.read_csv(r"C:\Projects\Indian-Stock-Predictor\exp\nifty50_stock_data.csv", header=2)

# Remove any unnamed columns that are irrelevant
data_date = data.loc[:, ~data.columns.str.contains('^Unnamed')]

# Rename the first column explicitly to 'Date'
data_date.rename(columns={data.columns[0]: 'Date'}, inplace=True)

# Print the cleaned data to verify the results
print(data_date.head(5))

         Date
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-06
4  2020-01-07

C:\Users\aashutosh kumar\AppData\Local\Temp\ipykernel_11748\3234530719.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_date.rename(columns={data.columns[0]: 'Date'}, inplace=True)

In [54]:
result = pd.concat([data_date, data_nf], axis=1)
result.drop(index=0, inplace=True)
result.head(5)

,Date,HDFCBANK.NS,INFY.NS,RELIANCE.NS,TCS.NS,HDFCBANK.NS.1,INFY.NS.1,RELIANCE.NS.1,TCS.NS.1,HDFCBANK.NS.2,...,RELIANCE.NS.3,TCS.NS.3,HDFCBANK.NS.4,INFY.NS.4,RELIANCE.NS.4,TCS.NS.4,HDFCBANK.NS.5,INFY.NS.5,RELIANCE.NS.5,TCS.NS.5
1,2020-01-02,1227.428589,655.615295,671.074219,1975.342651,1278.599976,736.849976,690.138306,2167.600098,1280.000000,...,688.263977,2154.000000,1276.099976,735.000000,693.978516,2168.000000,1836849.0,2112415.0,14004468.0,1354908.0
2,2020-01-03,1235.252441,653.702393,682.498840,1966.275391,1286.750000,734.700012,701.887512,2157.649902,1288.000000,...,691.235535,2149.199951,1279.000000,738.900024,691.235535,2179.949951,3068583.0,5658200.0,17710316.0,2380752.0
3,2020-01-06,1217.636841,663.756592,683.321289,2005.461304,1268.400024,746.000000,702.733276,2200.649902,1285.000000,...,696.264343,2164.000000,1282.199951,733.900024,700.835999,2164.000000,5427775.0,7882938.0,20984698.0,4655761.0
4,2020-01-07,1191.285522,657.394897,667.473511,2005.279297,1240.949951,738.849976,686.435303,2200.449951,1261.800049,...,684.835205,2187.899902,1260.000000,746.099976,694.892883,2205.000000,5445093.0,6519403.0,24519177.0,3023209.0
5,2020-01-08,1210.149048,647.651978,677.742310,2010.200195,1260.599976,727.900024,696.995850,2205.850098,1271.449951,...,691.921265,2183.800049,1258.900024,738.000000,694.435669,2200.500000,7362247.0,7899363.0,16683622.0,2429317.0